.navbar{
    
    list-style: none;
    display: flex;
    background-color:rgb(251, 251, 243);
    /* width: 100vw;
    position:sticky; */
}
.liNav{
    
    display: flex;
    padding: 1vw;
    width: 50vw;
    list-style: none;
    align-items: center;
    color: black;
}
#out{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline:inherit;
    color: white;
    display: block;
    /* font-weight: bold; */
    font-size:x-large;
    color: black;
}
